@media screen and (min-width:481px) {
    body{
        width:60%;
        background-color:rgba(238, 255, 192, 0.816);
        margin-top: 0px;
        padding-top: 0px;
        margin-left:auto;
        margin-right:auto;
        font-family: 'Roboto', Helvetica, sans-serif;
    }
    header{
        display:flex;
        width:100%;
        height:200px;
        background-color:rgba(192, 251, 255, 0.816);
        color:black;
        font-size:20px;
        font-weight:bold;
        margin-bottom:0px;
    }
    header img{
        display:flex;
        width:180px;
        height:auto;
        object-fit:fill;
        margin-top:0;
        margin-bottom:0;
        padding:10px;
    }
    header h1{
        display:flex;
        margin-left:auto;
        margin-right:auto;
        margin-top:auto;
        margin-bottom:auto;
        padding-left:10px;
    }
    nav{
        display:flex;
        align-items:center;
        justify-content:center;
        width:100%;
        height:50px;
        background-color:yellow;
        color:black;
        margin-left:auto;
        margin-right:20px;
        margin-top:auto;
        margin-bottom:auto;
        font-size:20px;
        font-weight:bold;
    }
    nav ul{
        display:inline-flex;
        list-style-type:none;
        width:100%;
        height:100%;
    }
    nav ul li{
        display:inline-flex;
        align-items:center;
        width:100%;
        height:50px;
        background-color:yellow;
        color:black;
        font-size:20px;
        font-weight:bold;
        margin-bottom:0px;
    }
    nav ul li a{
        display:inline-flex;
        justify-content:space-around;
        align-items:center;
        width:100%;
        height:50px;
        text-decoration:none;
    }
    nav ul li a:hover{
        color:rgb(236, 18, 26);
    }
    main{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        margin: 20px auto;    
        width:100%;
        height:auto;
        background-color: #f3f3f3;
        width: 100%;
    }
    main h1{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    main .card-1, .card-2, .card-3{
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
        height:auto;
        height:auto;
        margin-top:0;
        margin-bottom:0;
    }
    main .card-1 #card-1-text,
        .card-2 #card-2-text,
        .card-3 #card-3-text {
        display:flex;
        flex-direction:column;
        width:50%;
        margin-right: 10px;
    }
    main .card-1 #card-1-text h2,
        .card-2 #card-2-text h2,
        .card-3 #card-3-text h2 {
        display:flex;
        flex-direction:column;
        font-size:35px;
        font-weight:bold;
        width:100%;
        height:auto;
        align-items:center;
    }
    main .card-1 #card-1-text p,
        .card-2 #card-2-text p,
        .card-3 #card-3-text p {
        display:flex;
        flex-direction:column;
        text-align:justify;
        margin-right:10px;
        margin-left:10px;
        padding-right:10px;
        font-size:25px;
        line-height:2;
        font-weight:bold;
        width:100%;
        height:auto;
        align-items:center;
    }
    main .card-1 #science,
         .card-2 #Independence-day,
         .card-3 #pickling {
        display:flex;
        flex-direction:row;
        width:50%;
        float:right;
    }
    main .card-1 #science img,
        .card-2 #Independence-day img,
        .card-3 #pickling img{
        display:flex;
        width:100%;
        height:auto;
        object-fit:contain;
        overflow:hidden;
        margin-left:10px;
        margin-right:10px;
        padding-top:10px;
        padding-bottom:10px;
    }
    main .card-4{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        width:100%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        margin-bottom:10px;
        padding-left:10px;
        padding-right:10px;
        padding-top:10px;
        padding-bottom:10px;
        border-radius: 10px;
        background-color: white;
    }
    main .card-4 h2{
        width:100%;
        height:auto;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        margin-bottom:10px;
    }
    main .card-4 #search-input{
        width:50%;
        height:auto;
        font-size:30px;
        font-weight:bold;
        margin-bottom:10px;
        padding:10px;
        border-radius: 10px;
        border: 2px solid black;
    }
    main .card-4 button{
        width:20%;
        height:auto;
        font-size:30px;
        font-weight:bold;
        margin-bottom:10px;
        padding:10px;
        border-radius: 10px;
        border: 2px solid black;
        background-color: purple;
        color: white;
        cursor: pointer;
    }
    main .card-4 button:hover{
        background-color: black;
    }
    main .card-4 #image-results{
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
        width:100%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
    }
    footer {
        display: grid;
        grid-template-rows:1fr 1fr;
        width: 100%;
        height: auto;
        background-color: purple;
        color: white;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        padding-bottom:15px;
        margin-bottom:15px;
    }
    footer #flag-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top:15px;
    }
    footer img {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        resize: both;
        width: 100px;
        height: auto;
        margin-left: 10px;
        margin-right:30px;
    }
    footer #last_modified {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
}
