@media screen and (min-width:481px) {
    body{
        width:80%;
        background-color: #d3f2fd;
        font-family: 'Roboto', sans-serif;
        margin-top: 0px;
        padding-top: 0px;
        margin-left:auto;
        margin-right:auto;
        }
    body header{
        display:flex;
        width:100%;
        height:200px;
        margin-top:auto;
        margin-bottom:auto;
        background-color: #00bcd4;
        color: black;   
        text-align: center;
        font-size:60px;
        border: 2px solid black;
        border-radius: 10px;
        padding-left:10px;
        padding-right:10px;
    }
    body header h1{
        display:flex;
        justify-content:center;
        flex-direction: column;
        margin-top:auto;
        margin-bottom:auto;
        margin-left: 40px;
        margin-right: 40px;
        font-size:60px;
    }
    header nav{
        display:flex;
        align-items:center;
        justify-content:center;
        width:100%;
        height:50px;
        margin-top:auto;
        margin-bottom:auto;
        margin-right:20px;
        background-color: yellow;
        color: black;
        font-size:44px;
        font-weight:bold;
    }
    body header #menu {
        display: none;
    }
    body header #nav-container ul{
        display:flex;
        flex-direction: row;
        list-style-type:none;
        width:100%;
        height:100%;
        justify-content: center;
        align-items: center;
    }
    header nav ul li a {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin-left: 60px;
        margin-right: 60px;
    } 
    header nav ul li a:hover{
        background-color:rgba(59, 240, 23, 0.841);
    }
    body main{
        display:flex;
        flex-direction: column;
        width:100%;
        height:auto;
        margin-top: 0px;
        padding-top: 0px;
        margin-left:auto;
        margin-right:auto;
        font-family: 'Roboto', Helvetica, sans-serif;
        
    }
    main #hero{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        width:100%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        margin-bottom:10px;
        background-color: white;
    }
    main #hero #ism-ad{
        display:flex;
        width:100%;
        padding-left:10px;
        padding-right:10px;
        height:auto;
        border: 2px solid black;
        border-radius: 10px;
        overflow:hidden;
        object-fit:fill;
        margin-left:auto;
        margin-right:auto;
    }
    main .card-1{
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        width:100%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        padding-left:10px;
        padding-right:10px;
        padding-top:10px;
        padding-bottom:10px;
        border: 2px solid black;
        border-radius: 10px;
        background-color: white;
    }
    main .card-1 #card-1-text{
        display:flex;
        flex-direction: column;
        width:50%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        padding:10px;
    }
    main .card-1 #card-1-text h2{
        width:100%;
        height:auto;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }
    main .card-1 #card-1-text p{
        width:100%;
        height:auto;
        text-align: justify;
        font-size: 30px;
        font-weight: bold;
        line-height: 1.5;
    }
    main .card-1 #science{
        display:flex;
        width:50%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        border-radius: 10px;
    }
    main .card-1 #science img{
        width:100%;
        height:auto;
        object-fit:fill;
        border-radius: 10px;
        margin-left:auto;
        margin-right:auto;
        padding:10px;
        overflow:hidden;
    }
    main .card-2{
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        width:100%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        margin-bottom:10px;
        padding-left:10px;
        padding-right:10px;
        padding-top:10px;
        padding-bottom:10px;
        border: 2px solid black;
        border-radius: 10px;
        background-color: white;
    }
    main .card-2 #card-2-text{
        display:flex;
        flex-direction: column;
        width:50%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        padding:10px;
    }
    main .card-2 #card-2-text h2{
        width:100%;
        height:auto;
        text-align: center;
        font-size: 40px;
        font-weight: bold;
    }
    main .card-2 #card-2-text p{
        width:100%;
        height:auto;
        text-align: justify;
        font-size: 30px;
        font-weight: bold;
        line-height: 1.5;
    }
    main .card-2 #map{
        display:flex;
        width:50%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        border-radius: 10px;
    }
    main .card-2 #map iframe{
        object-fit:fill;
        border-radius: 10px;
        margin-left:auto;
        margin-right:auto;
        padding:10px;
        overflow:hidden;
        font-size: 30px;
    }
      body footer {
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        width: 100%;
        height: auto;
        background-color: rgba(160, 224, 158, 0.855);
        color: black;
        font-weight: bold;
        font-size: 30px;
        padding-left:10px;
        padding-right:10px;
        border: 2px solid black;
        border-radius: 10px;
        margin-top:0px;
    }
    footer #flag-container {
        grid-column-start: 1;
        grid-column-end: 2;
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    footer #flag-container #text {
        margin-top: auto;
        margin-bottom: auto;
    }
    footer #flag-container #flag {
        margin-left: auto;
        margin-right: auto;
        resize: both;
        width: 200px;
        height: auto;
        margin-top:10px;
        margin-bottom: 20px;
    }
    footer #flag-container img {
        width: 180px;
        height: auto;
        object-fit: contain;
    }
    footer #social_media {
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    footer #social_media a {
        margin-top: auto;
        margin-bottom: auto;
        padding-left:15px;
        padding-right:15px;
    }
    footer #social_media img {
        resize: both;
        width: 80px;
        height: auto;
    }
    
    footer #social_media img:hover {
        transform: scale(1.1);
        transition: transform 0.3s;
    }
    footer #update {
        grid-column-start: 3;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    footer .last_modified {
        margin-top: auto;
        margin-bottom: auto;
        padding-left:15px;
        text-align: center;
    }
    footer .last_modified p {
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

    }
    footer .review_count {
        margin-top: auto;
        margin-bottom: auto;
        padding-left:15px;
        text-align: center;
    }
    footer .review_count p {
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}


