/* Mobile Styles */
@media screen and (max-width:480px){
    body{
        background-color:rgba(0, 255, 140, 0.267);
    }

    header{
        padding: 1rem;
        background-color: turquoise;
    }
    /*Reduce logo size and center it*/
    header img{
        display:flex;
        width:120px;
        margin-top:auto;
        margin-bottom:auto;
        height:auto;
        object-fit:fill;
        margin-left: auto;
        margin-right: auto;
    }
    header h1{
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
        height:auto;
        object-fit:fill;
        text-align: center;
        color:black;
        font-size:25px;
        font-weight:bold;
        margin-top:auto;
        margin-bottom:auto;
        margin: 0;
        padding: 10px;
    }
     body header #menu {
        display: block;
        background-color: yellow;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 5px;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;
    }
    body header #menu::before{
        content:"☰";
        font-size:30px;
        color:black;
        text-align:center;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
        height:100%;
    }
    body header #menu.open::before{
        content:"✖";
        font-size:30px;
        color:black;
        text-align:center;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
        height:100%;
    }
    body header #nav-container {
        padding: 1rem;
    }
    body header #nav-container ul{
        background-color: aliceblue;
        display:flex;
        flex-direction: column;
        justify-content: center;
        list-style-type:none;
        margin-left:auto;
        margin-right:auto;
        font-size: 25px;
        font-weight: bold;
        line-height:2;
    }
    body header #nav-container ul li{
        margin-bottom: 10px;
    }
    body header #nav-container ul li a{
        text-decoration: none;
        color:black;
    }
    
    body header #nav-container ul li a:hover{
        background-color: rgba(255, 0, 140, 0.267);
        color:purple;
        cursor:pointer;
    }
   
    body header #nav-container ul {
        display: none;
    }
    body header #nav-container ul.open {
        display: block;
    }

    body header #nav-container a:hover {
        background-color: rgba(59, 240, 23, 0.841);
    }



    body main{
        display:flex;
        flex-direction: column;
        width:100%;
        height:auto;
        margin-top: 0px;
        padding-top: 0px;
        margin-left:auto;
        margin-right:auto;
    }
    body main h2{
        text-align: center;
        font-size:30px;
        font-weight:bold;
        color:black;
        margin-top:10px;
        margin-bottom:10px;
    }
    body main p{
        font-size:20px;
        font-weight:bold;
        color:black;
    }
    body main img{
        width: 100%;
        height: auto;
        contain:content;
        margin-top:10px;
        margin-bottom:10px;
    }
    body main section{
        display:flex;
        flex-direction: column;
        width:100%;
        height:auto;
        margin-top:10px;
        margin-bottom:10px;
        padding:10px;
        background-color: rgba(255, 255, 255, 0.705);
        border: 2px solid black;
        border-radius: 10px;
    }
       
    footer {
        display:flex;
        flex-direction: column;
        background-color: turquoise;
        color:black;
        width: 100%;
        height: auto;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
    }
    footer #flag-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        padding-top:15px;
    }
    footer #text {
        float: right;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 20px;
        font-weight: bold;
        color: black;
    }
    footer img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: auto;
        contain:content;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        margin-bottom:10px;
    }

}
