@media screen and (min-width:481px) {
    body{
    width:60%;
    background-color: #d3f2fd;
    font-family: 'Roboto', sans-serif;
    margin-top: 0px;
    padding-top: 0px;
    margin-left:auto;
    margin-right:auto;
    }
    header{
        display:flex;
        width:100%;
        height:200px;
        margin-top:auto;
        margin-bottom:auto;
        background-color: #00bcd4;
        color:black;
        font-size:25px;
        text-align: center;
    }
    header img{
        display:flex;
        width:180px;
        margin-top:auto;
        margin-bottom:auto;
        height:auto;
        object-fit:fill;
        margin: 0;
        padding: 10px;
    }
    header h1{
        display:flex;
        justify-content:center;
        flex-direction: column;
        margin-top:auto;
        margin-bottom:auto;
        margin: 0;
        padding: 10px;
    }
    nav{
        display:flex;
        align-items:center;
        justify-content:center;
        width:100%;
        height:50px;
        margin-top:auto;
        margin-bottom:auto;
        margin-right:20px;
        background-color: yellow;
        color: black;
        font-size:25px;
        font-weight:bold;
    }
    nav ul{
        display:inline-flex;
        list-style-type:none;
        width:100%;
        height:100%;
    }
    nav ul li{
        display:inline-flex;
        align-items:center;
        margin-left: auto;
        margin-right: auto;
    }
    nav ul li a{
        display:inline-flex;
        justify-content:space-around;
        align-items:center;
        color: black;
        font-size:25px;
        font-weight:bold;
        margin-right:30px;
    }
    nav ul li a:hover{
        background-color:rgb(83, 236, 18);
    }
    main{
        display:flex;
        flex-direction: column;
        width:100%;
        height:auto;
        margin-top: 0px;
        padding-top: 0px;
        margin-left:auto;
        margin-right:auto;
    }
    form{
        display:flex;
        width:100%;
        flex-direction: column;
        background-color: white;
        margin-left:auto;
        margin-right:auto;
    }
    form select{    
        display:flex;
        flex-direction: column;
        font-size: 25px;
        margin-bottom: 20px;
        padding: 0px;
        width: 100%;
        height:50px;
    }
    form label{
        display:flex;
        width:100%;
        font-size: 25px;
        margin-bottom: 10px;
        margin-left:20px;
    }
    form input{
        display:flex;
        flex-direction: column;
        font-size: 25px;
        margin-bottom: 20px;
        margin-left:20px;
        margin-right:0px;
        padding: 0px;
        width: auto;
        height:50px;
    }
    form button{
        display:flex;
        flex-direction: column;
        background-color: #00bcd4;
        border: none;
        color: white;
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
        padding: 10px;
        width: 100%;
        height: 50px;
    }
    form button:hover{
        background-color: #0097a7;
    }
    form p{
        display:flex;
        flex-direction: column;
        font-size:25px;
        margin: 0;
        text-align: center;
    }
    form #formmessage{
        display:flex;
        font-size:25px;
        margin: 0;
        justify-content: center;
        text-align: center;
    }
    form #message h1{
        display:flex;
        font-size:25px;
        margin: 0;
        text-align: center;
    }
    form select{
        display:flex;
        font-size: 25px;
        margin-bottom: 20px;
        padding: 0px;
        width: auto;
        height:50px;
        margin-left:20px;
        margin-right:0px;
    }

    .req::after {
        font-size: 15px;
        content: " *️⃣";
    }

    .smaller {
        display:flex;
        flex-direction: column;
        font-size: 20px;
    }

    form p a{
        color: #00bcd4;
    }
    form p a:hover{
        color: #0097a7;
    }
    form p.error{
        color: red;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
    }
    form p.success{
        color: green;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
    }
    footer {
        display: grid;
        grid-template-rows:1fr 1fr;
        width: 100%;
        height: 350px;
        background-color: purple;
        color: white;
        font-size: 30px;
        margin-top: 20px;
        padding-bottom:15px;
        margin-bottom:15px;
    }
    body footer {
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
        width: 100%;
        height: auto;
        background-color: rgba(160, 224, 158, 0.855);
        color: black;
        font-weight: bold;
        font-size: 30px;
        padding-left:10px;
        padding-right:10px;
        border: 2px solid black;
        border-radius: 10px;
        margin-top:0px;
    }
    footer #flag-container {
        grid-column-start: 1;
        grid-column-end: 2;
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    footer #flag-container #text {
        margin-top: auto;
        margin-bottom: auto;
    }
    footer #flag-container #flag {
        margin-left: auto;
        margin-right: auto;
        resize: both;
        width: 200px;
        height: auto;
        margin-top:10px;
        margin-bottom: 20px;
    }
    footer #flag-container img {
        width: 180px;
        height: auto;
        object-fit: contain;
    }
    footer #social_media {
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    footer #social_media a {
        margin-top: auto;
        margin-bottom: auto;
        padding-left:15px;
        padding-right:15px;
    }
    footer #social_media img {
        resize: both;
        width: 80px;
        height: auto;
    }
    
    footer #social_media img:hover {
        transform: scale(1.1);
        transition: transform 0.3s;
    }
    footer #update {
        grid-column-start: 3;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }
    footer .last_modified {
        margin-top: auto;
        margin-bottom: auto;
        padding-left:15px;
        text-align: center;
    }
    footer .last_modified p {
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

    }
    footer .review_count {
        margin-top: auto;
        margin-bottom: auto;
        padding-left:15px;
        text-align: center;
    }
    footer .review_count p {
        font-size: 25px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}










