@media screen and (min-width:481px) {
    body {
        display:grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
        width: 70%;
        margin-left:auto;
        margin-right:auto;
        margin-top:20px;
        font-family: 'Roboto', Helvetica, sans-serif;
        background-color: rgba(0, 255, 140, 0.267);
    }
    header  {
        display:grid;
        margin-left:auto;
        margin-right:auto;
        padding:10px;
        border-style:solid;
        border-color: black;
        grid-template-columns: .10fr  .90fr;
        padding-top:0;
        padding-bottom:0;
        height:150px;
        width:90%;
        background-color: turquoise;
    }
    header #logo {
        display:grid;
        grid-column-start:1;
        grid-column-end:2;
        margin-top: auto;
        margin-bottom: auto;
        margin-left:20px;
        margin-right:auto;
    }
    header #logo img {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100px;
        height: auto;
        border: 1px solid #ccc;
        box-shadow: 0 0 30px #777;
        object-fit: fill;
        margin-top:0;
        margin-bottom:0;
        margin-left:0px;
        margin-right:auto;
    }
    header #header-text {
        display:grid;
        grid-column-start:2;
        grid-column-end:3;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 44px;
        font-weight: bold;
        color: black;
        text-align: center;

    }
    header #header-text #my_name {
        display:grid;
        font-weight: bold;
        color: black;
    }
    body nav {
        display:grid;
        grid-template-columns: auto;
        width:90%;
        margin-left:auto;
        margin-right:auto;
        padding:10px;
        margin-top: 10px;
        border-style:solid;
        border-color: black;
        background-color: yellow;
    }
    
    nav #menu{
        display:flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        justify-content: center;
        text-align:center;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 0;
        padding-bottom: 0;
        
    }
    nav ul{
        display:inline-flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        justify-content: center;
        text-align:center;
        border-width:1px;
        margin-right:70px;
        font-size:44px;
        color:black;
        font-weight:bold;
    }
    nav .nav-link{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    nav a {
        display:flex;
        flex-direction: row;
        list-style-type: none;
        margin-right:80px;
    }
    body main {
        display:grid;
        grid-template-rows: auto auto auto;
        width:90%;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        margin-bottom:10px;
        padding:10px;
        border-style:solid;
        border-color: black;
        background-color: rgba(255, 255, 255, 0.705);
    }
    main #main-title{
        display:grid;
        grid-row-start: 1;
        grid-row-end: 2;
        border-style: solid;
        border-color: black;
        width:100%;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:auto;
        margin-top:auto;
        justify-content: center;
        align-items: center;
        height:auto;
        text-align: center;
        color: rgba(21, 62, 244, 0.976);
    }
    main #main-title h1 {
        display:grid;
        margin-top:auto;
        margin-bottom:auto;
        font-size: 44px;
        font-weight: bold;
        }
    main #my-profile {
        display:grid;
        grid-template-columns: .75fr .25fr;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        margin-bottom:10px;
        padding:10px;
        border-style:solid;
        border-color: black;
        background-color: rgba(173, 216, 230, 0.705);
    }
    main #my-profile #about-me{
        display:grid;
        grid-column-start:1;
        grid-column-end:2;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        margin-bottom:10px;
        padding:10px;
        border-style:solid;
        border-color: black;
        width:100%;
        background-color: rgba(173, 216, 230, 0.705);
    }
    main #my-profile #about-me h2 {
        display:grid;
        text-align: center;
        font-size: 44px;
        font-weight: bold;
        color: black;
    }
    main #my-profile #about-me p {
        display:grid;
        margin-left:10px;
        margin-right:30px;
        margin-top:10px;
        margin-bottom:10px;
        font-size: 30px;
        font-weight: bold;
        color: black;
        text-align: justify;
    }
    main #my-profile #student-photo {
        display:grid;
        grid-column-start:2;
        grid-column-end:3;
        margin-left:auto;
        margin-right:20px;
        margin-top:10px;
        margin-bottom:10px;
        padding:0px;
        border-style:solid;
        border-color: black;
        width:100%;
        background-color: rgba(173, 216, 230, 0.705);
    }
    main #my-profile #student-photo h2 {
        display:grid;
        text-align: center;
        font-size: 44px;
        font-weight: bold;
        color: black;
    }
    main #my-profile #student-photo img {
        display:grid;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        margin-bottom:10px;
        width: 250px;
        height: auto;
        border: 1px solid #ccc;
        box-shadow: 0 0 30px #777;
        object-fit: fill;
    }
    main #web-certificates #title {
        display:grid;
        height:50px;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        margin-bottom:10px;
        padding:10px;
        border-style:solid;
        border-color: black;
        background-color: rgba(173, 216, 230, 0.705);
    }
    main #web-certificates #title h2 {
        display:grid;
        text-align: center;
        margin-top:auto;
        margin-bottom:auto;
        font-size: 44px;
        font-weight: bold;
        color: black;
    }
    main #web-certificates .courses-container ul {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        list-style-type: none;
        gap:20px;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        margin-bottom:10px;
        padding:10px;
        border-style:solid;
        border-color: black;
        background-color: rgba(173, 216, 230, 0.705);
    }
    main #web-certificates .courses-container ul li {
        display:flex;
        align-items: center;
        justify-content: center;
        border-color:black;
        border-style: solid;
        padding:10px;
        font-size: 30px;
        font-weight: bold;
        color: black;
    }
    main #web-certificates .courses-container#course-list {
        display:grid;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        margin-bottom:10px;
        padding:10px;
        border-style:solid;
        border-color: black;
        background-color: rgba(173, 216, 230, 0.705);
    }

    main #web-certificates .courses-container #course-list ul {
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        list-style-type: none;
        gap:20px;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        margin-bottom:10px;
        padding:10px;
        border-style:solid;
        border-color: black;
        background-color: rgba(173, 216, 230, 0.705);
    }
    main #web-certificates .courses-container #course-list ul li {
        display:grid;
        /*distribute in three equal-width columns*/
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        margin-bottom:10px;
        padding:10px;
        font-size: 30px;
        font-weight: bold;
        color: black;
        border-style:solid;
        border-color: black;
        background-color: rgba(255, 255, 255, 0.705);
    }
    /* Style the button inside each course list item */
    main #web-certificates .courses-container ul li .button {
        display:grid;
        width:120px;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        margin-bottom:10px;
        padding:10px;
        font-size: 30px;
        font-weight: bold;
        color: black;
        text-decoration: none;
    }
    main #web-certificates .courses-container ul li .button:hover {
        background-color: rgba(0, 255, 140, 0.267);
        cursor: pointer;
    }
    main #web-certificates .courses-container ul li .button:active {
        background-color: rgba(21, 62, 244, 0.976);
        color: white;
    }
    main #web-certificates .courses-container ul li .button:focus {
        outline: 2px solid blue;
    }
    main #web-certificates .courses-container ul li .button:disabled {
        background-color: gray;
        color: white;
        cursor: not-allowed;
    }
    
    
    /* The courses that you have completed must be marked in a
    different way versus those that you have not completed.
    Use your page color scheme. The page should adjust
    automatically if the data source changes. Make the changes
    to the new div created for the course list in index.js.*/
   .completed {
        background-color: rgba(144, 238, 144, 0.705); /* Light green for completed courses */
        border: 1px solid green;
    }
    .not-completed {
        background-color: rgba(255, 0, 0, 0.705); /* Light red for not completed courses */
        border: 1px solid red;
    }
    /*Keep the paragraph and the span on the same line.*/
    main #web-certificates .credits {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction:row;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        margin-bottom:10px;
        padding:10px;
        border-style:solid;
        border-color: black;
        background-color: rgba(173, 216, 230, 0.705);
    }
     main #web-certificates .credits p {
        display:flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: bold;
        color: black;
    }
    
    nav a.active,
    
    nav .active {
        background-color: rgba(0,0,0,0.2);
    }
    nav a:hover {
        background-color: rgba(255,255,255,0.2);
    }
    nav #hamburger_menu {
        display: none;
    }
    nav #close_menu {
        display: none;
    }
    footer {
        display:grid;
        grid-template-columns: .50fr .50fr;
        grid-template-rows: auto auto;
        margin-left:auto;
        margin-right:auto;
        padding:10px;
        border-style:solid;
        border-color: black;
        width:90%;
        background-color: turquoise;
        height:150px;
    }
    footer #flag-container {
        display:flex;
        align-items: center;
        justify-content: center;
    }
    footer #text {
        font-size: 25px;
        font-weight: bold;
        color: black;
        margin-top:auto;
        margin-bottom:auto;
        float:right;
    }
    footer #flag-container #flag {
        display:flex;
        align-items: center;
        justify-content: center;
        float:right;
        margin-left:10px;
    }

    footer img {
        display:flex;
        float:right;
        resize: both;
        width: 150px;
        height: auto;
        margin-left: 6px;
    }
    footer #last_modified {
        display:flex;
        align-items: center;
        justify-content: center;
    }
    footer p {
        display:flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-weight: bold;
        color: black;
    }
    footer #lastModified {
        display:flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        font-weight: bold;
        color: black;
    }
}


