@media screen and (min-width:481px) {
    body{
        width:60%;
        background-color:rgba(238, 255, 192, 0.816);
        margin-top: 0px;
        padding-top: 0px;
        margin-left:auto;
        margin-right:auto;
        font-family: 'Roboto', Helvetica, sans-serif;
        background-color: white (52, 182, 230, 0.585);
    }
    header{
        display:grid;
        grid-template-rows: 200px 300px;
        grid-template-columns: 180px auto 20px;
        width:100%;
        height:400px;
        background-color:turquoise;
        color:black;
        font-size:20px;
        font-weight:bold;
        margin-bottom:10px;
    }
    header img{
        display:grid;
        grid-column-start:1;
        grid-column-end:2;
        grid-row-start:1;
        grid-row-end:2;
        width:150px;
        height:auto;
        margin-left:20px;
        margin-right:auto;
        margin-top:auto;
        margin-bottom:auto;
    }
    header h1{
        display:grid;
        grid-column-start:2;
        grid-column-end:4;
        grid-row-start:1;
        grid-row-end:2;
        margin-left:80px;
        margin-right:auto;
        padding-left:10px;
        margin-top: auto;
        margin-bottom:auto;
    }
    header #p_container{
        display:grid;
        grid-template-columns:180px 70% auto;
        grid-row-start:2;
        grid-row-end:3;
        grid-column-start:1;
        grid-column-end:4;
        text-align: justify;
        margin-left:20px;
        margin-right:20px;
        margin-top: auto;
        margin-bottom:auto;
    }
    header p{
        display:flex;
        flex-direction: row;
        text-align: justify;
        grid-column-start:2;
        grid-column-end:3;
        text-align: justify;
        margin-left:auto;
        margin-right:auto;
        margin-top: auto;
        margin-bottom:100px;
        font-size: 30px;
    }
    main{
        display:inline-block;
        justify-content:center;
        width:100%;
        height:auto;
        color:black;
        height:auto;
        margin-top:10px;
        background-color:rgba(192, 251, 255, 0.816);
    }
    h2 {
        font-size:40px;
        font-weight:bold;
        margin-bottom:10px;
        margin-left:30px;
        margin-right:30px;
    }
    p{
        font-size:30px;
        font-weight:bold;
        margin-bottom:10px;
        margin-left:30px;
        margin-right:30px;
        justify-content:left;
    }
    main #site-purpose {
        font-size:30px;
        font-weight:bold;
        justify-content:left;
        margin-bottom:10px;
        margin-left:30px;
        margin-right:30px;
        list-style: none;
    }
    main #scenarios{
        display:inline-block;
        text-align:left;
        width:100%;
        height:auto;
        color:black;
        margin-bottom:10px;
        margin-left:30px;
        margin-right:30px
    }
    main #scenarios ol{
        display:inline-block;
        justify-content:left;
        width:auto;
        height:auto;
        color:black;
        list-style: none;
        margin-bottom:10px;
        margin-left:30px;
        margin-right:30px;        
    }
    main #scenarios li{
        display:inline-block;
        text-align:left;
        width:auto;
        height:auto;
        color:black;
        margin-bottom:10px;
        margin-left:30px;
        margin-right:30px;
        list-style: none;    
    }
    main #color-scheme{
        display:inline-block;
        text-align:left;
        width:100%;
        height:auto;
        color:black;
        font-size:20px;
        font-weight:bold;
        margin-bottom:10px;
        margin-left:30px;
        margin-right:30px
    }
    main #color-scheme ul{
        display:inline-block;
        text-align:left;
        width:auto;
        height:auto;
        color:black;
        font-size:20px;
        font-weight:bold;
        margin-bottom:10px;
        margin-left:30px;
        margin-right:30px
    }
    main #color-scheme ul li{
        display:inline-block;
        text-align:left;
        width:auto;
        height:auto;
        color:black;
        font-size:20px;
        font-weight:bold;
        margin-bottom:10px;
        margin-left:30px;
        margin-right:30px;
        list-style: none;
    }
    main #typography{
        display:inline-block;
        text-align:left;
        width:100%;
        height:auto;
        color:black;
        font-size:20px;
        font-weight:bold;
        margin-bottom:10px;
        margin-left:30px;
        margin-right:30px
    }
    main #typography ul{
        display:inline-block;
        text-align:left;
        width:auto;
        height:auto;
        color:black;
        font-size:20px;
        font-weight:bold;
        margin-bottom:10px;
        margin-left:30px;
        margin-right:30px
    }
    main #typography ul li{
        display:inline-block;
        text-align:left;
        width:auto;
        height:auto;
        color:black;
        font-size:20px;
        font-weight:bold;
        margin-bottom:10px;
        margin-left:30px;
        margin-right:30px;
        list-style: none;
    }
    main #wireframe{
        display:inline-block;
        text-align:center;
        width:100%;
        height:auto;
        color:black;
        font-size:20px;
        font-weight:bold;
        margin-bottom:10px;
        margin-left:30px;
        margin-right:30px
    }
    main #wireframe img{
        width:80%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        margin-top:10px;
        margin-bottom:10px;
    }
    footer{
        display:grid;
        grid-template-columns: auto auto;
        justify-content:center;
        align-items:center;
        width:100%;
        height:auto;
        background-color:greenyellow;
        color:black;
        font-size:20px;
        font-weight:bold;
        margin-top:10px;
        margin-bottom:10px;
    }
    footer #flag-container{
        display:grid;
        grid-template-columns: auto 300px;
        grid-column-start:1;
        grid-column-end:2;
        justify-content:center;
        align-items:center;
        margin-top:10px;
        margin-bottom:10px;
    }
    footer #flag-container #text{
        display:grid;
        grid-column-start:1;
        grid-column-end:2;
        justify-content:center;
        align-items:center;
        margin-left:auto;
        margin-right:auto;
    }
    footer #flag-container img{
        width:100px;
        height:auto;
        margin-left:auto;
        margin-right:auto;
        grid-column-start:2;
        grid-column-end:3;
    }
    footer #flag-container #last-updated{
        display:grid;
        grid-column-start:2;
        grid-column-end:3;
        justify-content:center;
        align-items:center;
        margin-left:auto;
        margin-right:auto;  
    }
}